doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css")
        link(rel="stylesheet", href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css")
    body
        div(class="navbar navbar-default")
            div(class="navbar-header")
                button(type="button", class="navbar-toggle", data-toggle="collapse", data-target=".navbar-responsive-collapse")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
                a(class="navbar-brand", href="/") Detección de ladrones
            div(class="navbar-collapse collapse navbar-responsive-collapse")
                ul(class="nav navbar-nav")
                    li
                        a(href="/") Home
                    li(class="active")
                    li
                        a(href="/historico") Histórico
                    li(class="active")
                        a(href="/configurar_mail") Configurar mail
        div(class="container")
            div(class="row")
                form(action="/configurar_mail", method="post")
                    div(class="col-sm-3")
                        input(type="email", name="input_email", required, class="form-control", id="exampleInputEmail1" aria-describedby="emailHelp", placeholder="Ingrese su email")
                        input(type="checkbox", name="input_check", checked=false, value=off)
                        span   Activar notificaciones
                    div(class="col-sm-6")
                        button(type="submit", class="btn btn-primary") Aceptar  
        script(type="text/javascript",src="/bower_components/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(type="text/javascript", src="/bower_components/bootstrap-material-design/dist/js/material.min.js")
        script(type="text/javascript", src="/bower_components/socket.io-client/dist/socket.io.js")
